@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

/*-------------
    Universal 
--------------*/
* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*---------- 
    Header
-----------*/
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.primary-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navbar-info ul {
    display: flex;
    gap: 50px;
}

.navbar-info li {
    list-style: none;
}

.navbar-info-list {
    padding-left: 0px;
}

.navbar-info-list li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px
}

.header-info {
    text-align: center;
}

.header-info-heading {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.primary-info {
    font-size: 14px;
    color: gray;
    margin-bottom: 30px;
}

.primary-button {
    background-color: #FF900E;
    ;
    border: 0px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 22px;
    margin-bottom: 50px;
}

.header-img img {
    width: 100%;
}

/*-----------
    Main
------------*/
main {
    margin: 80px 240px 0px 240px;
}

/* first section */
.first-section {
    display: flex;
    gap: 75px;
    align-items: center;
    margin-bottom: 130px;
}

.four-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.images-1,
.images-2,
.images-3,
.images-4 img {
    width: 100%;
}

.four-images-info h1 {
    margin-bottom: 30px;
}

.grey {
    color: grey;
}

.orange {
    color: orange;
}

.bold {
    font-weight: 900;
    font-size: 50px;
}

/*-------------------
    Second section
-------------------*/
.second-section {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 130px;
}

.border {
    border-left: 4px solid #FF900E;
    ;
    height: 115px;
    margin-bottom: 30px;
}

.border h1 {
    padding-left: 20px;
}

.box-shadow-info {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.box-shadow-title{
    margin-bottom: 15px;
}
.second-sec-img img {
    width: 708px;
    height: 982px;
}

.special-button {
    position: absolute;
width: 250px;
height: 150px;
left: 900px;
top: 3080px;
    border: 0px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
}
.small{
    font-size: 20px;
}
/* third section */
.third-section{
    margin-bottom: 180px;
}
.third-sec-title-info h1{
    margin-bottom: 30px;
}
.third-sec-title-info p{
    margin-bottom: 100px;
}
.animation{
    display: flex;
    justify-content: space-between;
}
.animation-info{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 30px;
    text-align: center;
}
.animation-info img,h3{
    margin-bottom: 10px;
}
.animation-info:hover{
    transition: transform 2s;
    transform: rotate(360deg);
}
.fourth-sec-title-info{
    text-align: center;
}
.fourth-sec-title-info h1{
    margin-bottom: 25px;
}
.fourth-sec-title-info p{
    margin-bottom: 50px;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logo-color{
    filter: grayscale(10);
}
/*--------------
    Footer
---------------*/
footer {
    margin: 130px 240px;
    background-color: #FFF4E7;
    border-radius: 10px;
}

.copyright {
    color: #424242;
    text-align: center;
    font-size: 20px;
    padding: 35px 300px;
}

/*----------------
    Responsive
------------------*/
@media only screen and (max-width: 576px) {

    /* header */
    header {
        padding: 10px;
    }

    .logo-nav {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .navbar-info ul {
        flex-direction: column;
        gap: 10px;
    }

    /* main */
    main {
        margin: 30px 10px;
    }

    /* first section */
    .first-section {
        flex-direction: column;
    }

    .four-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .four-images-info {
        text-align: center;
    }
    /* second section */
    .second-section{
        flex-direction: column-reverse;
        mar
    }
    .second-sec-img img{
        width: 100%;
        height: 100%;
    }
    .special-button{
        left:0px;
        top: 3480px;
    }
    .border{
        height: 170px;
    }
    /* third section */
    .third-sec-title-info{
        text-align: center;
    }
    .animation{
        flex-direction: column;
        gap: 50px;
    }
    /*------------------
        fourth-section
    --------------------*/
    .logos{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    /* footer */
    footer {
        margin: 20px;
    }

    .copyright {
        padding: 10px;
    }
}